<!DOCTYPE html>
<html>
<head>
    <title>Seu Deck</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>🃏 Seu Deck</h1>

    <p>Elixir médio: {{ elixir_medio }}</p>

    <div class="deck">

        {% for carta in deck %}
        <div class="card">

            <img src="https://royaleapi.github.io/cr-api-assets/cards/{{ carta|lower|replace(' ', '')|replace('.', '') }}.png">

            <h2>{{ carta }}</h2>

            <p>💧 {{ cartas[carta]["elixir"] }}</p>
        </div>
        {% endfor %}

    </div>

    <a href="/" class="voltar">Voltar</a>

</div>

<footer>Site criado por Tiago Roncato</footer>

</body>
</html>
