<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Seu Deck</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>⚔️ Seu Deck Está Pronto!</h1>

        <p>Estas são as 8 cartas que o gerador escolheu:</p>

        <div class="deck">

            {% for carta in deck %}

                <div class="card">

                    <h2>{{ carta }}</h2>

                    <p>
                        💧 {{ cartas[carta] ["elixir"}} de elixir
                    </p>

                </div>

            {% endfor %}

        </div>

        <a href="/" class="voltar">
            ← Criar outro deck
        </a>

    </div>

</body>
<footer> Site criado por Tiago Roncato </footer>
</html>

