<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gerador de Deck</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>⚔️ Gerador de Deck</h1>

        <p>Crie um deck de Clash Royale pelo elixir médio!</p>

        <form action="/" method="POST">

            <label for="elixir">
                Elixir médio desejado:
            </label>

            <input
                type="number"
                id="elixir"
                name="elixir"
                step="0.1"
                min="1"
                max="9"
                placeholder="Elixir aqui:"
                required
            >

            <button type="submit">
                🎲 Criar Deck
            </button>

        </form>

    </div>

</body>
<footer> Site criado por Tiago Roncato </footer>
</html>
