<!DOCTYPE html>
<html>
<head>
    <title>Gerador de Deck</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>⚔️ Gerador de Deck</h1>

    <form method="POST">
        <label>Elixir médio desejado:</label>
        <input type="number" step="0.1" name="elixir" required>

        <button type="submit">Gerar Deck</button>
    </form>

</div>

<footer>Site criado por Tiago Roncato</footer>

</body>
</html>
